<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LiveMetal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiveMetal.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Brand/logo on the left -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LiveMetal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Centered navigation links with dropdowns -->
                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="concertsDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Concerts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="concertsDropdown">
                                <a class="dropdown-item" asp-controller="Concert" asp-action="All">All Concerts</a>
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <a class="dropdown-item" asp-controller="Concert" asp-action="Rated">Rated Concerts by Me</a>
                                }
                            </div>
                        </li>       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="newsDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                News
                            </a>
                            <div class="dropdown-menu" aria-labelledby="newsDropdown">
                                <a class="dropdown-item" asp-controller="News" asp-action="All">All News</a>
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <a class="dropdown-item" asp-controller="News" asp-action="MyNews">News Published by Me</a>
                                    <a class="dropdown-item" asp-controller="News" asp-action="Create">Publish News</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="reviewsDropdown" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reviews
                            </a>
                            <div class="dropdown-menu" aria-labelledby="reviewsDropdown">
                                <a class="dropdown-item" asp-controller="Review" asp-action="All">All Reviews</a>
                                @if (User?.Identity?.IsAuthenticated ?? false)
                                {
                                    <a class="dropdown-item" asp-controller="Review" asp-action="Create">Publish Reviews</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Social media links and login/register on the far right -->
                <div class="collapse navbar-collapse justify-content-end" style="flex-grow: 0;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/viktoragovski/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/VictorAgovski" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <!-- Placeholder for authentication partial view -->
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
