@{
    ViewData["Title"] = "Error 500 - Internal Server Error";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <img src="https://static.doofinder.com/main-files/uploads/2019/09/error-500-doofinder.jpg" alt="Server Error Image" class="img-thumbnail mb-3">
            <h1 class="display-4">Oops!</h1>
            <p class="lead">Something went wrong on our end.</p>
            <hr>
            <p>We're experiencing technical difficulties. Please try again later or return to the <a asp-controller="Home" asp-action="Index" class="link-primary">Home Page</a>.</p>
        </div>
    </div>
</div>
