.news-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

    .news-item img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

.container {
    padding-top: 20px;
}
